<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ producto.nombre }}</h1>
    <img src="{% static producto.imagen.url %}" alt="{{ producto.nombre }}">
    <p>{{ producto.descripcion }}</p>
    <p>Precio: ${{ producto.precio }}</p>
    <p>Stock: {{ producto.stock }}</p>
    <p>Categoría: {{ producto.categorias.all }}</p>
    <a href="{% url 'editar_producto' producto.id %}">Editar producto</a>
    <a href="{% url 'eliminar_producto' producto.id %}">Eliminar producto</a>
    <a href="{% url 'categorias_producto' producto.id %}">Categorías del producto</a>
    <a href="{% url 'agregar_producto' producto.id %}">Agregar al carrito</a>
</body>
</html> -->