{% extends "home.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=" UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}entrada Productos{% endblock %}
</head>
<body>
    {% include 'components/sidebar.html' %}
{% block content %}
<div class="container-form id='formulario'">
    <div class="in-form">
            {% if mensaje %}
            <div class="alert alert-success" role="alert">
                {{ mensaje }}
            </div>
            {% endif %}
            <h1 class="form-title">Formulario Producto</h1>
            <form action="{% url 'crear' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="id_nombre">Nombre:</label>
                <input type="text" id="id_nombre" name="nombre" >
                <hr>
                <label for="id_descripcion">Descripcion:</label>
                <textarea id="id_descripcion" name="descripcion" rows="4" cols="40" ></textarea>
                <hr>
                <label for="id_precio">Precio:</label>
                <input type="number" id="id_precio" name="precio" step="0.01"  >
                <hr>
                <label for="id_stock">Stock:</label>
                <input type="number" id="id_stock" name="stock" >
                <hr>
                <label for="id_categoria">Categoria:</label>
                <input type="number" id="id_categoria" name="categoria" step="0.01">

                <label for="id_image">Imagen (URL opcional):</label>
                <input type="url" id="id_image" name="imagen" >

                <button class=".toggle-btn" type="submit">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}
<!-- <script src="{% static 'js/form.js' %}"></script> -->

</body>

</html>