<!-- redireccion.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirección</title>
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/home.css' %}"> -->
</head>

<body>
{% include 'components/sidebar.html' %}
{% block content %}
<!-- {{form}} -->
        <h1>Datos guardados correctamente</h1>
        <p>Gracias por enviar los datos del producto.</p>
        <ul>
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% for producto in form %}
            <li>{{ producto.label }}</li>
            <li>{{ producto.value }}</li>
            <li>{{ producto.descripcion }}</li> 
            <li>{{ producto.precio }}</li>
            <li>{{ producto.stock }}</li>

            <li><img src=" {{ producto.imagen }}" ></li>
            
            {% endfor %}
        </ul>
{% endblock %}
</body>

</html>