{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css'%}">
    <title> {% block title%} HOME {% endblock %} </title>
</head>

<body>
    {% include 'components/sidebar.html' %}
    <div class="container_principal">
        <div class="sidebar">
            <div class="header-top">
                <div class="container">
                    <div class="col-head">
                        <div class="bienvenida-text">
                            <p>World Wide Completely Free Returns and Shipping</p>
                            <div clas="col-contacts">
                                <a href="" class="cell">
                                    <img src="{% static 'img/icon-user.png'%}" alt="icon-user">
                                    <span>Login / Register</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
                <div class="header-logo">
                    <img src="https://htmldemo.net/hmart/hmart/assets/images/logo/logo.png" class="logo-responsive">
                </div>
                <div class="seach-header">
                    <input type="text" placeholder="Search">
                    <button type="submit">Icono</button>
                </div>

                <div class="col-icon">
                    <div class="icon-bar">
                        <img src="https://htmldemo.net/hmart/hmart/index.html#offcanvas-wishlist" class="like">
                        <img src="https://htmldemo.net/hmart/hmart/index.html#offcanvas-cart" class="compra">
                    </div>
                </div>
        </div>
        <div class="header-nav-ul-li">
            <div class="container-nav">
                <div class="main-menu">
                    <ul class="ul-nav">
                        <div class="home-in"><a href="#">HOME</a>
                        <div class="home-icon"></div>
                            <ul>
                                <li><a href="#">Home 1</a></li>
                                <li><a href="#">Home 2</a></li>
                            </ul>
                        </div>
                        <div class="about-in-nav">
                            <a href="#">ABOUT</a>
                        </div>
                        <div class="page-in-nav"><a href="#" class="page-nav">PAGES</a>
                            <ul>
                                <li><a href="#">Inner Pages</a></li>
                                <li><a href="#">404 Page</a></li>
                                <li><a href="#">Order Tracking</a></li>
                                <li><a href="#">Faq Page</a></li>
                                <li><a href="#">Coming Soon Page</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Other Shop Pages</a></li>
                                <li><a href="#">Cart Page</a></li>
                                <li><a href="#">Checkout Page</a></li>
                                <li><a href="#">Compare Page</a></li>
                                <li><a href="#">Wishlist Page</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Related Shop Pages</a></li>
                                <li><a href="#">Account Page</a></li>
                                <li><a href="#">Login & Register Page</a></li>
                                <li><a href="#">Empty Cart Page</a></li>
                                <li><a href="#">Thank You Page</a></li>
                            </ul>
                            <!-- <img src="https://htmldemo.net/hmart/hmart/assets/images/banner/menu-banner.png" alt=""> -->
                        </div>
                        <div class="shop-in-nav"><a href="#">SHOP</a>
                            <ul>
                                <li><a href="#">Shop Page</a></li>
                                <li><a href="#">Shop 3 Column</a></li>
                                <li><a href="#">Shop 4 Column</a></li>
                                <li><a href="#">Shop Left Sidebar</a></li>
                                <li><a href="#">Shop Right Sidebar</a></li>
                                <li><a href="#">Shop List Left Sidebar</a></li>
                                <li><a href="#">Shop List Right Sidebar</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Product Details Page</a></li>
                                <li><a href="#">Product Single</a></li>
                                <li><a href="#">Product variable</a></li>
                                <li><a href="#">Product Affiliate</a></li>
                                <li><a href="#">Product Group</a></li>
                                <li><a href="#">Product Tab 2</a></li>
                                <li><a href="#">product Tab 3</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Single Product Page</a></li>
                                <li><a href="#">Product Slider</a></li>
                                <li><a href="#">Product Gallery Left</a></li>
                                <li><a href="#">Product Gallery Right</a></li>
                                <li><a href="#">Product Sticky Left</a></li>
                                <li><a href="#">Product Sticky Right</a></li>
                                <li><a href="#">Cart Page</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Single Product Page</a></li>
                                <li><a href="#">Checkout Page</a></li>
                                <li><a href="#">Compare Page</a></li>
                                <li><a href="#">Wishlist Page</a></li>
                                <li><a href="#">Account Page</a></li>
                                <li><a href="#">Login & Register Page</a></li>
                                <li><a href="#">Empty Cart Page</a></li>
                            </ul>
                        </div>
                        <div class="blog-in-nav"><a href="#">BLOG</a>
                            <ul>
                                <li><a href="#">Blog Grid</a></li>
                                    <ul>
                                        <li><a href="#">Blog Grid </a></li>
                                        <li><a href="#">Blog Grid Left Sidebar</a></li>
                                        <li><a href="#">Blog Grid Right Sidebar</a></li>
                                    </ul>
                                <li><a href="#">Blog List</a></li>
                                    <ul>
                                        <li><a href="#">Blog List</a></li>
                                        <li><a href="#">Blog List Left Sidebar</a></li>
                                        <li><a href="#">Blog List Right Sidebar</a></li>
                                    </ul>
                                <li><a href="#">Single Blog</a></li>
                                    <ul>
                                        <li><a href="#">Single Blog</a></li>
                                        <li><a href="#">Single Blog Left Sidebar</a></li>
                                        <li><a href="#">Single Blog Right Sidebar</a></li>
                                    </ul>
                            </ul>
                            <ul>
                                <li><a href="#">Blog Single Page</a></li>
                                <li><a href="#">Blog Grid 2 Column</a></li>
                                <li><a href="#">Blog Grid 3 Column</a></li>
                                <li><a href="#">Blog Grid 4 Column</a></li>
                            </ul>

                        </div>
                        <a href="#" class="contact-nav">CONTACT</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="cuerpo">
        <div class="carrucell">
            <div class="contenido-cuerpo">
                <span class="categoria">
            </div>
        </div>

        {% block content %}
        <h2>cuerpo</h2>
        {% endblock %}
    </div>
    </div>
</body>

</html>